html, body {
  font-family: Helvetica, Arial, sans-sarif;
  font-size: 16px;
}

div#left {
  float: left;
  width: 300px;
}

div#right {
  float: left;
  padding-left: 10px;
}

textarea#main {
  width: 100%;
  height: 624px;
  resize: none;
  font-size: inherit;
  font-family: "Droid Sans Mono", monospace;
}

div.register {
  display: inline-block;
  width: 40px;
  font-family: "Droid Sans Mono", monospace;
}

div.value {
  display: inline-block;
  width: 100px;
  font-family: "Droid Sans Mono", monospace;
}
