html, body {
  font-family: Helvetica, Arial, sans-sarif;
  font-size: 16px;
  margin: 0;
}

div#container {
  width: 1278px;
  margin: auto;
  padding: 0px 10px 0px 10px;
}

div#header {
  padding: 12px;
  margin-bottom: 20px;
  background-color: #000;
  color: #fff;
}

div#logo {
  display: inline-block;
  font-size: 42px;
}

div#click_me {
  float: right;
  padding-top: 14px;
}

div#click_me a {
  color: #fff;
}

div#input {
  float: left;
  width: 500px;
}

div#registers {
  float: left;
  padding-left: 10px;
  width: 276px;
}

div#memory {
  float: left;
  padding-left: 10px;
  font-family: "Droid Sans Mono", monospace;
}

div.data {
  display: inline-block;
  padding-left: 10px;
  padding-bottom: 2px;
}

textarea#main {
  width: 100%;
  height: 624px;
  resize: none;
  font-size: inherit;
  font-family: "Droid Sans Mono", monospace;
  border: none;
  outline: none;
}

textarea#console {
  width: 100%;
  height: 140px;
  resize: none;
  font-size: inherit;
  font-family: "Droid Sans Mono", monospace;
  border: none;
  outline: none;
}

div.register {
  display: inline-block;
  width: 40px;
  font-family: "Droid Sans Mono", monospace;
}

div.value {
  display: inline-block;
  width: 231px;
  font-family: "Droid Sans Mono", monospace;
}
